@model SibersDAL.Models.Project

@{
    ViewBag.Title = "Details";
}
<div class="well well-sm"><h1>Project Details</h1></div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contractor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contractor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new { id=Model.Id})">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
    </a>
    &nbsp;|&nbsp;
    <a href="@Url.Action("Delete", new { id=Model.Id})">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete
    </a>
    &nbsp;|&nbsp;
    <a href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-list"></span>&nbsp;Back to List
    </a>
</p>
